:root {
  --uni-size: 10px;
}

* {
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ececec;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  padding: 0 15px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ececec;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.footer {
  padding: 20px 0;

  // .footer__list
  &__list {
    margin: 0 -10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .footer__list-item
  &__list-item {
    padding: var(--uni-size);
  }
}

.main-section {
  position: relaitive;
}

.cv {
  // .cv__wrap-img
  &__wrap-img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relaitive;
    object-fit: cover;
    overflow: hidden;
  }

  // .cv__img
  &__img {
    position: relaitive;
    width: 100%;
  }

  // .cv__h2
  &__h2 {
    position: relaitive;
    padding-top: 50px;
  }
}

.nav {
  // .nav__list
  &__list {
    margin: 0 -10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  // .nav__list-item
  &__list-item {
    margin-right: var(--uni-size);
    padding: var(--uni-size);
  }

  // .nav__link
  &__link {
    position: relative;
  }
}

.link-to-rss {
  text-decoration: none;

  // .link-to-rss__img
  &__img {
    width: 100px;
  }
}
